<section class="section benefits" id="benefits">
  <div class="container">
  <div class="benefits-header">
    <h3>BENEFITS OF WORKING WITH ME</h3>
  </div>
  <div class="benefits-content">
  <ul class="benefits-container">
    <li class="benefit-card">
      <div class="benefit-icon-box">
      <svg class="benefit-icon" width="24" height="24">
        <use xlink:href="./img/sprite.svg#user" width="24" height="24"></use>
      </svg>
      </div>
      <h3>Expertise</h3>
      <p>As a highly experienced developer, I have deep knowledge of programming and website development.</p>
    </li>
    <li class="benefit-card">
      <div class="benefit-icon-box">
      <svg class="benefit-icon" width="24" height="24">
        <use xlink:href="./img/sprite.svg#message-chat-circle"></use>
      </svg>
      </div>
      <h3>Communication</h3>
      <p>Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
    </li>
    <li class="benefit-card">
      <div class="benefit-icon-box">
      <svg class="benefit-icon" width="24" height="24">
        <use xlink:href="./img/sprite.svg#brush"></use>
      </svg>
      </div>
      <h3>Art</h3>
      <p>Thanks to me creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
    </li>
    <li class="benefit-card">
      <div class="benefit-icon-box">
      <svg class="benefit-icon" width="24" height="24">
        <use xlink:href="./img/sprite.svg#hourglass"></use>
      </svg>
      </div>
      <h3>Urgent execution</h3>
      <p>I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
    </li>
  </ul>
  <div class="benefits-button-wrapper">
    <a href="#work-together" class="benefits-button">Order the project</a>
  </div>
</div>
</div>
</section>