<section class="covers-section section"> 
  <h2 class="covers-title visually-hidden">Covers section</h2> 
  <div class="covers-content content" style="background-image: url(../img/cover/dark-bakground-desctop-1x.jpg)">
    <div class="covers-wrapper"> 
      <ul class="covers-wrapper-list"> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/turn-x2.png" 
            src="../img/cover/turn-x1.png" 
            alt="Business 'Starlight Studio'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/brand-x2.png" 
            src="../img/cover/brand-x1.png" 
            alt="'Chego' shop" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/body-x2.png" 
            src="../img/cover/body-x1.png" 
            alt="Healthier lifestyle with support" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/discover-x2.png" 
            src="../img/cover/discover-x1.png" 
            alt="Learning English" 
            width="544" height="314"
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/organic-x2.png" 
            src="../img/cover/organic-x1.png" 
            alt="Vegetable baskets" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/turn-x2.png" 
            src="../img/cover/turn-x1.png" 
            alt="Business 'Starlight Studio'" 
          /> 
        </li> 
      </ul> 
 
      <ul class="covers-wrapper-list"> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/body-x2.png" 
            src="../img/cover/body-x1.png" 
            alt="Healthier lifestyle with support" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/reviving-x2.png" 
            src="../img/cover/reviving-x1.png" 
            alt="Traditional ukrainian artistry" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/fresh-x2.png" 
            src="../img/cover/fresh-x1.png" 
            alt="Fresh harvest box" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/transforming-x2.png" 
            src="../img/cover/transforming-x1.png" 
            alt="Transformer your body shape with power pulse" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/mimino-x2.png" 
            src="../img/cover/mimino-x1.png" 
            alt="Hotel 'Mimino'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/discover-x2.png" 
            src="../img/cover/discover-x1.png" 
            alt="Learning English" 
          /> 
        </li> 
      </ul> 
 
      <ul class="covers-wrapper-list"> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/mimino-x2.png" 
            src="../img/cover/mimino-x1.png" 
            alt="Hotel 'Mimino'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/transforming-x2.png" 
            src="../img/cover/transforming-x1.png" 
            alt="Transformer your body shape with power pulse" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/discover-x2.png" 
            src="../img/cover/discover-x1.png" 
            alt="Learning English" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/manage-x2.png" 
            src="../img/cover/manage-x1.png" 
            alt="Manage your finances masterfully" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/turn-x2.png" 
            src="../img/cover/turn-x1.png" 
            alt="Business 'Starlight Studio'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/reviving-x2.png"
            src="../img/cover/reviving-x1.png" 
            alt="Traditional ukrainian artistry" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/fresh-x2.png" 
            src="../img/cover/fresh-x1.png" 
            alt="Fresh harvest box" 
          /> 
        </li> 
      </ul> 
 
      <ul class="covers-wrapper-list"> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/organic-x2.png" 
            src="../img/cover/organic-x1.png" 
            alt="Vegetable baskets" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/body-x2.png" 
            src="../img/cover/body-x1.png" 
            alt="Healthier lifestyle with support" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/brand-x2.png" 
            src="../img/cover/brand-x1.png" 
            alt="'Chego' shop" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/mimino-x2.png" 
            src="../img/cover/mimino-x1.png" 
            alt="Hotel 'Mimino'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/organic-x2.png" 
            src="../img/cover/organic-x1.png" 
            alt="Vegetable baskets" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/body-x2.png" 
            src="../img/cover/body-x1.png" 
            alt="Healthier lifestyle with support" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/fresh-x2.png" 
            src="../img/cover/fresh-x1.png" 
            alt="Fresh harvest box" 
          /> 
        </li> 
      </ul> 
 
      <ul class="covers-wrapper-list"> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/reviving-x2.png" 
            src="../img/cover/reviving-x1.png" 
            alt="Traditional ukrainian artistry" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/manage-x2.png" 
            src="../img/cover/manage-x1.png" 
            alt="Manage your finances masterfully" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/fresh-x2.png" 
            src="../img/cover/fresh-x1.png" 
            alt="Fresh harvest box" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/turn-x2.png" 
            src="../img/cover/turn-x1.png" 
            alt="Business 'Starlight Studio'" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/discover-x2.png" 
            src="../img/cover/discover-x1.png" 
            alt="Learning English" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/organic-x2.png" 
            src="../img/cover/organic-x1.png" 
            alt="Vegetable baskets" 
          /> 
        </li> 
        <li class="covers-wrapper-list-item"> 
          <img 
            class="covers-img" 
            srcset="../img/cover/fresh-x2.png" 
            src="../img/cover/fresh-x1.png" 
            alt="Fresh harvest box" 
          /> 
        </li> 
      </ul> 
    </div> 
  </div> 
</section>

<!-- <script type="module" src="../js/covers.js"></script> -->
