<section class="section faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-wrap">
      <ul class="ac-container faq-list" id="accordion">
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              What programming languages are most often used in your
              project?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              What are the deadlines for the project?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              What payment methods do you accept?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              How can I contact you?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              You can contact us via email, phone, or through our website's
              contact form. We are happy to assist with any inquiries.
            </p>
          </div>
        </li>
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              Do you provide advice or support?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              Yes, we provide professional advice and ongoing support throughout
              the project. Our team ensures a smooth process from planning to
              execution.
            </p>
          </div>
        </li>
        <li class="faq-item ac js-enabled" id="ac-0">
          <h3 class="faq-subtitle ac-header">
            <button
              type="button"
              class="ac-trigger"
              id="ac-trigger-0"
              role="button"
              aria-controls="ac-panel-0"
              aria-disabled="false"
              aria-expanded="false"
            >
              What does the process of developing a software product look like
              from idea to implementation?<span class="svg-span"
                ><svg
                  class="faq-icon-arrow"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                >
                  <use class="ac-svg" href="../img/sprite.svg#arrow-down"></use>
                </svg>
              </span>
            </button>
          </h3>

          <div
            class="faq-text ac-panel"
            id="ac-panel-0"
            role="region"
            aria-labelledby="ac-trigger-0"
            style="transition-duration: 600ms; height: 0px"
          >
            <p>
              The development process begins with idea analysis, concept
              creation and design. This is followed by the development, testing
              and implementation of a ready-made solution. We accompany the
              product at all stages, ensuring its quality and meeting your
              expectations.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<script type="module" src="../js/faq.js"></script>
