<section class="section faq">
  <div class="container accordion-container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-wrap" data-accordion>
      <ul class="faq-list" id="accordion">
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          class="faq-icon"
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            What programming languages are most often used in your project?
            <svg
              class="faq-icon-arrow"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="16"
              height="16"
            >
              <path fill="#FAFAFA" d="M12 14l6-6H6z"></path>
            </svg>
          </h3>
          <div class="faq-text" data-accordion-content>
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </div>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          class="faq-icon"
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            What are the deadlines for the project?
          </h3>
          <p class="faq-text" data-accordion-content>
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            What payment methods do you accept?
          </h3>
          <p class="faq-text" data-accordion-content>
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            How can I contact you?
          </h3>
          <p class="faq-text" data-accordion-content>
            You can contact us via email, phone, or through our website's
            contact form. We are happy to assist with any inquiries.
          </p>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            Do you provide advice or support?
          </h3>
          <p class="faq-text" data-accordion-content>
            Yes, we provide professional advice and ongoing support throughout
            the project. Our team ensures a smooth process from planning to
            execution.
          </p>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
        <li class="faq-item">
          <h3 class="faq-subtitle" data-accordion-trigger>
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <p class="faq-text" data-accordion-content>
            The development process begins with idea analysis, concept creation
            and design. This is followed by the development, testing and
            implementation of a ready-made solution. We accompany the product at
            all stages, ensuring its quality and meeting your expectations.
          </p>
        </li>
        <!-- <svg class="faq-icon">
        <use xlink:href="sprite.svg#icon-faq"></use>
      </svg> -->
        <svg
          width="343"
          height="2"
          viewBox="0 0 343 2"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 1H343"
            stroke="#FAFAFA"
            stroke-width="1"
            stroke-opacity="0.2"
          />
        </svg>
      </ul>
    </div>
  </div>
</section>
