<section class="hero-section section" id="hero">


<div class="menu-header">


    <div class="logo">
      <img src="./img/menu-header/logo-1x.png" alt="Logo">
      <span>jefferson*</span>
    </div>
     <div class="burger-button">
            <span class="line1"></span>
            <span class="line2"></span>
        </div>

    <nav  class="menu-container">

      <div class="menu-item">
        <a href="#" class="menu-link">Menu</a>

        <ul class="dropdown">
          <li><a href="#about-me">About me</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#projects-section">Projects</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>

    </nav>


    <a href="#work-together" class="cta-button btn-menu">Order the project</a>



    <div class="mobile-menu">
  <ul class="menu">

        <li><a href="#about-me">About me</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#projects-section">Projects</a></li>
        <li><a href="#faq">FAQ</a></li>
  </ul>
  <a href="#work-together" class="cta-button">Order the project</a>
</div>

</div>



    <div class="container hero-container">

    <div class="hero-box">
        <h1 class="hero-title">Hello.
        <br>I’m Fullstack developer<br>
        Lloyd Jefferson.</h1>
    </div>

    <div class="hero-social-media">
        <ul class="hero-social-media-list">

        <li class="hero-social-item">
        <a href="https://www.instagram.com/goitclub/"></a>IG</li>
        <li class="hero-social-item">
            <a href="https://www.facebook.com/goITclub/"></a>FB</li>
        <li class="hero-social-item">
        <a href="https://www.youtube.com/c/GoIT"></a>YT</li>
        <li class="hero-social-item">
            <a href="marina-str-vit.github.io/devStorm/"></a>GH</li>
        <li>
        <a class="hero-mail" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>

    </ul>

    </div>

    </div>
</section>



