
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer-container">
        <div class="footer-title">
            <div class="footer-img">
                <img src="" alt="">
            </div>
            <p>Let’s work together</p>
        </div>
        <div class="footer-form">
            <form action="">
                <input type="email" placeholder="clients@gmail.com">
                <input type="text" placeholder="comments">
            </form>
            <button class="footer-button" type="submit">Send</button>
        </div>
        <div class="footer-contacts">
            <button clas type="button">lloydjefferson@gmail.com</button>
            <button type="button"><a href="tel:+380 11 1111 11 11">+380 11 1111 11 11</a></button>
        </div>
    </div>
</body>
</html>