<section class="footer" id="work-together">
    <div class="footer-container container">
        <div class="footer-title">
            <div class="footer-img-container">
                <img class="footer-img" src="./img/work-together/man-2x.jpg" alt="">
            </div>
            <div class="footer-title-text">
                <h1 class="footer-h1">Let’s <span class="footer-span">work</span></h1>
                <h1  class="footer-h1 ">together</h1>
            </div>
        </div>
        <div class="footer-form-container">
            <form class="footer-form" action="#">
                <input class="footer-input" type="email" placeholder="clients@gmail.com">
                <input class="footer-input" type="text" placeholder="comments">
            </form>
            <button class="footer-button" type="submit">Send</button>
        </div>
        <div class="footer-contacts">
            <button type="button">lloydjefferson@gmail.com</button>
            <a class="footer-link" href="tel:+3801111111111">+380 11 1111 11 11</a>
        </div>
    </div>

    <div class="footer-modal-overlay">
        <div class="footer-modal">
            <button class="footer-modal-button" type="button">
                <svg class="footer-close">
                    <use  class="footer-use" href="./img/sprite.svg#close"></use>
                </svg>
            </button>
            <div class="footer-modal-text">
                 <h2 class="footer-modal-h2">Thank you for your interest in cooperation!</h2>
                <p class="footer-modal-message">The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.</p>
            </div>
        </div>
    </div>

</section>

