:root {
  --background: #1c1d20;
  --red: #ed3b44;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background);
  font-family: 'Inter Tight', serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1;
  color: #fafafa;
  letter-spacing: -0.02em;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
