.faq-item {
    padding-top: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: transparent;
    box-sizing: border-box;
    margin-top: 0px;
}

.faq-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-trigger {
    text-align: left;
    width: 100%;
    padding-bottom: 16px;
    padding-right: 50px;
    padding-inline-start: 0px;
    margin-top: 0;
    display: block;
    cursor: pointer;
    transition: color .25s ease;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    color: #fafafa;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: none;
}

.ac .ac-trigger:focus {
    color: #fafafa;
}

.ac .svg-span {
    position: absolute;
    right: 0px;
    top: 0px;
}


.faq-icon-arrow {
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50px;
    width: 34px;
    height: 34px;
    padding-left: 10px;
    padding-top: 10px;
}


.ac.js-enabled .faq-text {
    visibility: hidden;
}

.ac.is-active>.ac-header .faq-icon-arrow {
    transform: rotate(180deg);
}

.ac .ac-panel {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.ac.is-active .ac-panel {
    visibility: visible;
}

.faq-title {
    font-weight: 600;
    font-size: 16px;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #fafafa;
    margin-bottom: 0px;
}

.faq-text {
    line-height: 1.5;
    color: rgba(250, 250, 250, 0.6);
}


@media screen and (min-width: 768px) {
    .faq {
        padding: 48px 0px;
    }

    .faq-item {
        padding-top: 32px;
    }

    .ac .ac-trigger {
        padding-bottom: 26px;
    }

    .faq-icon-arrow {
        width: 40px;
        height: 40px;
    }

    .ac .ac-panel {
        padding-bottom: 24px;
    }

}

@media screen and (min-width: 1440px) {
    .faq {
        padding: 82px 0px;
    }

    .ac .ac-panel {
        padding-bottom: 26px;
        max-width: 656px;
    }


    .faq-list {
        display: grid;
        grid-template-columns: 688px 688px;
        grid-template-rows: repeat(3, auto);
    }

    .faq-item {
        padding-top: 32px;
    }


    .faq-item:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
        padding-right: 32px;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .faq-item:nth-child(4) {
        grid-column: 2;
        grid-row: 1;
        border-top: 1px solid rgba(250, 250, 250, 0.2);
        padding-left: 32px;
    }

    .faq-item:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
        padding-left: 32px;
    }

    .faq-item:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
        padding-left: 32px;
    }


}