.faq-section {
    padding: 64px 0px;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

/* .faq-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 343px;
} */

.faq-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}

/* @media only screen and (min-width: 375px) {
    .container {
        min-width: 320px;
        max-width: 375px;
    }
} */

.faq-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 16px;
}

.faq-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
    .faq-section {
        padding: 96px 0px;
    }

    .container {
        padding: 0 32px;
        margin: 0 auto;
    }

    .faq-subtitle {
        margin-bottom: 26px;
    }

    .faq-list {
        gap: 56px;
        padding: 32px 0;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0;
    }

    .faq-section {
        padding: 164px 32px;
    }

    .faq-subtitle {
        margin-bottom: 26px;
    }
}