.section {
    padding: 32px 0px;
}

.container {
    padding: 0 16px;
    margin: 0 auto;
}

.faq-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.faq-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-icon {
    width: 343px;
    height: 2px;
    stroke-width: 1px;
    stroke: rgba(250, 250, 250, 0.2);
}

.faq-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 16px;
}

.faq-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
    .section {
        padding: 48px 0px;
    }

    .container {
        padding: 0 32px;
        margin: 0 auto;
    }

    .faq-icon {
        width: 704px;
    }

    .faq-subtitle {
        margin-bottom: 26px;
    }

    .faq-list {
        gap: 56px;
        padding: 32px 0;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0;
    }

    .section {
        padding: 82px 32px;
    }

    .faq-icon {
        width: 1376px;
    }

    .faq-subtitle {
        margin-bottom: 26px;
    }
}

