/*hero-mobile*/

.hero-section {
    background-image:
        url(/img/hero-img/hero-mob-1x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}


.hero-container.container {
    display: flex;
    flex-direction: column;
    padding: 0;

}

.hero-box {
    margin-top: 169px;
    padding-bottom: 212px;
    margin-left: 16px;
    min-width: 250px;
    min-height: 343px;
}

.hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;


}

.hero-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 37px;
    margin-bottom: 32px;
    max-width: 100%;


}

.hero-social-media-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;

}

.hero-social-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero-social-item:hover,
.hero-social-item:active,
.hero-social-item:focus {
    border: 1px solid #fafafa;
}

.hero-mail {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px;
    /*margin-right: 17px;*/

    font-size: 14px;
    letter-spacing: -0.02em;
    transition: all 0.3s ease;
}

.hero-mail:hover,
.hero-mail:active,
.hero-mail:focus {
    border: 1px solid #fafafa;
}



@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),
(min-resolution:192dpi) {
    .hero-section {
        background-image: url(/img/hero-img/hero-mob-2x.jpg);
    }
}

/*tablet*/

@media screen and (min-width:768px) {

    .hero-section {

        background-image:
            url(/img/hero-img/hero-tab-1x.jpg);
    }

    .hero-box {
        margin-top: 200px;
        margin-bottom: 187px;
        margin-left: 32px;
        margin-right: 104px;
        min-width: 450px;
        min-height: 632px;
    }

    .hero-title {
        font-size: 90px;
    }

    .hero-social-media {
        display: flex;
        justify-content: end;
        height: 55px;
        margin-right: 32px;
    }

    .hero-social-media-list {
        display: flex;
        gap: 10px;
    }

    .hero-social-item {
        padding: 18px;
        width: 55px;
        height: 55px;

        font-size: 16px;
    }

    .hero-mail {
        padding: 18px;
        font-size: 16px;
        letter-spacing: -0.02em;
    }


    @media screen and (-webkit-min-device-pixel-ratio:2),
    (min-resolution:2dppx),
    (min-resolution:192dpi) {
        .hero-section {
            background-image:
                url(/img/hero-img/hero-tab-2x.jpg);
        }
    }

    /*desktop*/

    @media screen and (min-width:1440px) {

        .hero-section {

            background-image:
                url(/img/hero-img/hero-desktop-x.jpg);
        }

        .hero-box {
            margin-top: 188px;
            margin-bottom: 243px;
            margin-right: 32px;
            margin-left: 178px;
            min-width: 1084px;
            min-height: 270px;

        }

        .hero-social-media {
            display: flex;
            justify-content: end;
            margin-right: 0;
        }

        .hero-social-media-list {
            display: flex;
            justify-content: flex-end;

        }

        @media screen and (-webkit-min-device-pixel-ratio:2),
        (min-resolution:2dppx),
        (min-resolution:192dpi) {
            .hero-section {
                background-image:
                    url(/img/hero-img/hero-desktop-2x.jpg);
            }
        }
    }
}