.menu-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    max-width: 1376px;
    width: 100%;
    height: 80px;
}

.no-scroll {
    overflow: hidden;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    transition: transform 0.3s ease-in-out;
    display: none;
    background-image: url(/img/hero-img/hero-mob-1x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    flex: 0 0 50%;
    gap: 15px;
    text-decoration: underline;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    gap: 8px;
}

.menu-item {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration-line: underline;
    cursor: pointer;
    position: relative;
}

.burger-button {
    width: 28px;
    height: 8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    display: none;
}

.burger-button span {
    display: block;
    width: 28px;
    height: 2px;
    background-color: #fafafa;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger-button.active .line1 {
    transform: rotate(45deg) translate(0px, 0px);
}

.burger-button.active .line2 {
    transform: rotate(-45deg) translate(4px, -5px);
}

.dropdown {
    opacity: 0;
    width: 67px;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
    align-items: center;
}

.menu-link {
    position: relative;
}

.menu-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

.menu-item .dropdown li a {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 55px;
    padding: 18px 24px;
    gap: 10px;
    border-radius: 60px;
    opacity: 1;
    background: #ED3B44;
    color: #fff;
    text-decoration: none;
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
}

@media (max-width: 1439px) and (min-width: 768px) {
    .menu-header {
        max-width: 704px;
        height: 80px;
        gap: 151px;
        margin: 16px;
    }

    .menu-item {
        font-size: 14px;
        gap: 8px;
    }

    .cta-button {
        width: auto;
        height: 45px;
        font-size: 14px;
        padding: 12px 20px;
    }
}


@media (max-width: 767px) {
    .menu-header {
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        width: 343px;
    }

    .menu-container {
        display: none;
    }

    .btn-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .burger-button {
        display: flex;
        z-index: 5;
    }

    .mobile-menu.active {
        transform: translateX(-100%);
    }
}