/* mobile version */

.projects-section {
    max-width: 100%;
  } 

.projects-container {
    max-width: 343px;
    display: flex;
    flex-direction: column;

}

.projects-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    text-align: left;
        color: rgba(250, 250, 250, 0.4);
        margin-bottom: 32px;
}

.projects-cards {
    width: 100%;
    margin-bottom: 30px;
}

.projects-item-white {
    background: #ffffff;
    /* main-text */
    border-radius: 24px 24px 0 0;
}

.projects-content-block {
    max-width: 279px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    margin-left: 32px;
    margin-top: 32px;
    padding-top: 32px;
    margin-bottom: 96px;
    box-sizing: border-box;
}

.projects-block {
    border: 1px solid #e0e0e0;
    /* border-prj */
    border-radius: 60px;
    padding: 13px 18px;
    box-sizing: border-box;
    color: #000000;
    /* background */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.projects-text {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: #000000;
    /* background */
   margin: 0 0 32px 32px;
    max-width: 279px;
}

a.projects-btn {
    border-radius: 60px;
    padding: 13px 32px;
    width: 142px;
    height: 45px;
    background: #ff4a4a;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin: 0 0 32px 32px;
}

.projects-btn:hover,
.projects-btn:focus {
    background: #ff7f50;
    /* hover-btn-prj */
}

.projects-item-black {
    background: #333333;
    /* bgr-card-prj */
    border-radius: 0 0 24px 24px;
    width: 100%;
    padding: 100px 16px;
}

.projects-img {
    width: 311px;
    height: 195px;
    margin: auto;
}

/* slider */

.projects-swiper-button-container.swiper-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: 156px;
    height: 68px;
    margin: 0 auto;
    margin-top: 32px;
}

.projects-btn-slider,
.projects-button-slider-prev,
.projects-button-slider-next {
    position: static !important;
    top: auto !important;
    width: 68px !important;
    height: 68px !important;
    padding: 14px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid rgba(250, 250, 250, 0.6);
    border-radius: 50%;
    background-color: transparent;
    margin-top: 0 !important;
}

.projects-button-slider-prev .projects-btn-slider-icon {
    transform: rotate(-180deg);
}

.projects-btn-slider-icon {
    stroke: rgba(250, 250, 250, 0.6);
    width: 32px;
    height: 32px;
}

.projects-block-slider.swiper-container {
    overflow: hidden;
    transition: opacity 0.3s;
}

@media screen and (min-width:320px) and (max-width:375px) {

    .projects-container {
        max-width: 320px;
    }
}

/* tablet */

@media screen and (min-width:768px) {
  
    .projects-container {
        max-width: 704px;
    }

    .projects-cards {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .projects-content-block {
        max-width: 322px;
        margin: 0 0 160px 64px;
    }

    .projects-text {
        margin: 0 0 64px 64px;
        font-size: 44px;
        line-height: 1;
        max-width: 494px;
    }

    a.projects-btn {
        margin: 0 0 64px 64px;
        /* margin-bottom: 80px; */
    }

    .projects-img {
        width: 614px;
        height: 385px;
    }

    /* slider */

    .projects-btn-slider {
        padding: 18px;
        width: 68px;
        height: 68px;
    }

    .projects-swiper-button-container.swiper-button-container {
        gap: 16px;
    }

    .projects-btn-slider-icon {
    stroke: rgba(250, 250, 250, 0.6);
        width: 32px !important;
        height: 32px !important;
    }

}

/* desktop */

@media screen and (min-width: 1440px) {
    .projects-section {
        padding-top: 82px;
        padding-bottom: 82px;
    }

    .projects-container {
        max-width: 1440px;
    }

    .projects-title {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
    }

    .projects-cards {
        border-radius: 24px;
        display: flex;
        flex-direction: row;
    }

    .projects-item-white {
        width: 688px;
        border-radius: 24px 0 0 24px;
    }

    .projects-item-black {
        width: 688px;
        border-radius: 0 24px 24px 0;
    }

    a.projects-btn {
        padding: 18px 50px;
        width: 177px;
        height: 55px;
    }
}