.footer-container {
  padding: 32px 16px;
  background: #1c1d20;
    background-image: url(../img/work-together/glass-m.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.footer-desc {
  text-align: center;
}

.footer-link {
  font-family: "Inter Tight", sans-serif;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  ;
}

.footer-link::before {
  content: '';
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%) skewX(-12deg);
  z-index: -1;
  width: 110%;
  height: 24%;
  background-color: #41d1ff;
  transition: 200ms ease;
}

.footer-modal-overlay {
  background: rgba(15, 15, 16, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.footer-modal {
  background: #1C1D20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 279px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 100%;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.footer-modal-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-close {
  fill: #fafafa;
}

.footer-use {
  width: 11px;
  height: 11px;
}

.footer-modal-text {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.footer-modal-h2 {
  color: #fafafa;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.footer-modal-message {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.footer-title {
  font-family: "Inter Tight", sans-serif;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.footer-img-container {
  width: 44px;
  height: 44px;
  border-radius: 24px;
  overflow: hidden;
}

.footer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-title-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-h1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0;
}

.footer-span {
  color: #ed3b44;
}

.footer-h1 span {
  display: inline;
}

.footer-form-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 63px;
  margin-bottom: 64px;
  gap: 32px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 343px;
  height: 44px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 0;
  outline: none;
  transition: all 0.3s ease;
}

.footer-input:focus {
  color: #fafafa;
  border-bottom: 1px solid #fafafa;
}

.footer-input::placeholder {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  color: rgba(250, 250, 250, 0.6);
  transition: color 0.3s ease;
}

.footer-input:focus::placeholder {
  color: #fafafa;
}

.footer-button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ed3b44;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
}

.footer-button:active {
  background-color: #e0373f;
}

.footer-contacts {
  display: flex;
  gap: 4px;
}

.footer-contacts button {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  background: none;
}

.footer-contacts a {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  background: none;
}

.footer-contacts button:active {
  border-color: #fafafa;
}

.footer-contacts a:active {
  border-color: #fafafa;
}

.hidden {
  display: none;
}

@media only screen and (min-width:768px) {
  .footer-container {
    padding: 80px 32px 169px 32px;
    background-image: url(../img/work-together/glass-t.jpg);
  }

  .footer-modal {
    padding: 64px;
    width: 364px;
  }

  .footer-modal-button {
    width: 24px;
    height: 24px;
  }

  .footer-use {
    width: 12px;
    height: 12px;
  }

  .footer-img-container {
    width: 70px;
    height: 70px;
  }

  .footer-h1 {
    font-size: 64px;
  }

  .footer-form-container {
    flex-direction: row;
    gap: 32px;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .footer-form {
    flex-direction: row;
    gap: 32px;
  }

  .footer-input {
    width: 245px;
  }

  .footer-button {
    width: 150px;
    height: 150px;
  }

  .footer-contacts button {
    padding: 18px 32px;
    font-size: 16px;
  }
   .footer-contacts a{
    padding: 18px 32px;
    font-size: 16px;
  }
  .footer-contacts {
    gap: 8px;
  }
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 80px 196px 169px 196px;
    background-image: url(../img/work-together/glass-d.jpg);
  }

  .footer-title-text {
    gap: 7px;
  }

  .footer-input {
    width: 390px;
  }

  .footer-form-container {
    gap: 86px;
  }
}
